.button {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.button.add {background-color: #4CAF50;}
.button.edit {background-color: #008CBA;}
.button.delete {background-color: #f44336;}
.button.cancel {background-color: #f44336;}